    <footer class="page-footer has-background-light">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-item" href="{{ url_for('pages.privacy_policy') }}">Privacy Policy</a>
                <a class="navbar-item" href="{{ url_for('pages.terms_and_conditions') }}">Terms and Conditions</a>
            </nav>
            <p class="is-size-7">&copy; 2019 by <a href="https://haroldbradleyiii.com/">Harold Bradley III</a>. All rights reserved.</p>
        </div>
    </footer>
