<p>Hello!</p>

<p>Someone, hopefully you, was trying to access an account at SPA-Base. We don't
currently have a user registered with your email address, but we would love for
you to register.</p>
<p>You can do so by clicking the following link:
<a href="{{ url_for('auth.register', token=token, _external=True) }}">
    {{ url_for('auth.register', token=token, _external=True) }}
</a>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.register', token=token, _external=True) }}</p>
<p>If you have not requested access to an account, you can safely ignore this
email. We won't email you again.</p>

<p>Regards,<br>
SPA Base Team</p>
