{% extends "auth.html" %}


{% block content %}
    <div class="box">
        <h1 class="title is-4">Login</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="field">
                {{ form.email.label }}
                <div class="control has-icons-left">
                    {{ form.email(size=128, class_="input", error_class_="is-danger") }}
                    <svg class="icon" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <use href="/icons/zondicons.svg#envelope"></use>
                    </svg>
                </div>
                {% for error in form.email.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field">
                {{ form.password.label }}
                <div class="control has-icons-left has-icons-right">
                    {{ form.password(size=32, class_="input", error_class_="is-danger") }}
                    <svg class="icon" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <use href="/icons/zondicons.svg#lock-closed"></use>
                    </svg>
                    <svg id="show-password" class="icon is-right show-password" role="img"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <use href="/icons/zondicons.svg#view-hide"
                             data-show-icon="/icons/zondicons.svg#view-show"
                             data-hide-icon="/icons/zondicons.svg#view-hide"></use>
                    </svg>
                </div>
                {% for error in form.password.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field control side-by-side">
                {{ form.remember_me(class_="checkbox") }}
                {{ form.remember_me.label(class_="checkbox") }}
                {{ form.submit(class_="button is_primary") }}
            </div>
        </form>
        <p class="is-size-7"><a href="{{ url_for('auth.request_password_reset') }}">Forgot username/password? Reset it here.</a></p>
        <p class="is-size-7"><a href="{{ url_for('auth.register') }}">New user? Register now.</a></p>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/js/show-password.js"></script>
{% endblock %}
