{% extends "auth.html" %}


{% block content %}
    <div class="box">
        <h1 class="title is-4">Reset Your Password</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="field">
                {{ form.password.label }}
                <div class="control has-icons-left">
                    {{ form.password(size=32, class_="input", error_class_="is-danger") }}
                    <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <use href="/icons/zondicons.svg#lock-closed"></use>
                    </svg>
                </div>
                {% for error in form.password.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field">
                {{ form.confirm_password.label }}
                <div class="control has-icons-left">
                    {{ form.confirm_password(size=32, class_="input", error_class_="is-danger") }}
                    <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <use href="/icons/zondicons.svg#lock-closed"></use>
                    </svg>
                </div>
                {% for error in form.confirm_password.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field control is-grouped is-grouped-right">
                {{ form.submit(class_="button is_primary") }}
            </div>
        </form>
    </div>
{% endblock %}
