/**
 * Styles to use SVG icons in Bulma
 */

svg.icon,
.button svg.icon {
    fill: currentColor;
    height: 1em;
    margin-right: .5em;
    width: 1em;
}

a svg.icon {
    fill: $body-color;
}

.button .icon:first-child:not(:last-child) {
    margin-left: .1em;
    margin-right: .5em;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    padding: .625em;
}
