/**
 * Show Password icon styles
 */
.control .show-password.icon {
    cursor: pointer;
    margin-right: .25em;
    padding: .55em;
    pointer-events: all;

    &.password-is-visible,
    &:hover {
        color: $input-focus-color;
    }
}
