<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    <link rel="stylesheet" href="/static/css/app.css" media="all">

    {% if title %}
    <title>{{ title }} - SPA-Base</title>
    {% else %}
    <title>Welcome to SPA-Base</title>
    {% endif %}
</head>
<body class="page">
    {% include '/components/header.html' %}

    {% include '/components/flash-messages.html' %}

    <main class="page-main container">
        {% block content %}
        {% endblock %}
    </main>

    {% include '/components/footer.html' %}

    <script src="/js/app.js"></script>
</body>
</html>
