<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    {% include '/components/gtm-head.html' %}

    {% include '/components/meta.html' %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    {% block styles %}
        <link rel="stylesheet" href="/css/app.css" media="all">
    {% endblock %}

    {% block title %}
        {% if title %}
            <title>{{ title }} - SPA-Base</title>
        {% else %}
            <title>Welcome to SPA-Base</title>
        {% endif %}
    {% endblock %}

    {% include '/components/onesignal.html' %}
</head>
<body class="page">
    {% include '/components/gtm-body.html' %}

    {% include '/components/header.html' %}

    {% include '/components/flash-messages.html' %}

    {% block main %}
    <main class="page-main container">
        {% block content %}
        {% endblock %}
    </main>
    {% endblock %}

    {% include '/components/footer.html' %}

    {% block scripts %}
    {% endblock %}
    <script>
        if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/service-worker.js', { scope: '/' }); }
    </script>
</body>
</html>
