<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    {% block styles %}
    {% endblock %}

    {% block title %}
        {% if title %}
            <title>{{ title }} - SPA-Base</title>
        {% else %}
            <title>Welcome to SPA-Base</title>
        {% endif %}
    {% endblock %}
</head>
<body class="page">
    {% include '/components/header.html' %}

    {% include '/components/flash-messages.html' %}

    {% block main %}
    <main class="page-main container">
        {% block content %}
        {% endblock %}
    </main>
    {% endblock %}

    {% include '/components/footer.html' %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
