/**
 * Generic Classes
 * @see https://github.com/h5bp/main.css/blob/master/src/_helpers.css
 */

/**
 * Hide visually and from screen readers
 */
.hide {
    display: none !important;
}

/**
 * Hide visually, but 'show' to screen readers.
 * @see https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;


    /**
     * Allows elements to be focusable when navigated to by the keyboard.
     * @see https://www.drupal.org/node/897638
     */
    &:active, &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        white-space: inherit;
        width: auto;
    }
}


/**
 * Maintain layout while hiding visually and from screen readers.
 */
.invisible {
    visibility: hidden;
}


/**
 * Clearfix
 */
.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both; }
}
